<nav>
  <div class="wrap">
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
          <h1 class="text-light"><a href="/"><span>Retro Fútbol</span></a></h1>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Inicio</a></li>
          </ul>
        </nav>

      </div>
    </header>
  </div>
</nav>